<div class="row">
  <aside class="col-md-12">

  </aside>
  <section class="main col-md-12">
    <article>
      <br>
      <div class="jumbotron">
        <h2 class="display-3">About This Page</h2>
        <p class="lead">Welcome to my employee management application! <br>This project of mine is built up of many
          different web development technologies.<br> The website is not currently maintained but I may come back to
          revitalize it some day. <br> In the meantime, enjoy your stay!</p>
        <hr class="my-4">
        <p>Feel free to check out the code here:</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="https://github.com/asyed81" role="button">GitHub</a>
        </p>
      </div>
    </article>
  </section>
</div>